@model BlogTracker.Models.EmployeeLogin

@{
    ViewBag.Title = "EmployeeLogin";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    <br />

    <div class="form-horizontal">
        <h1><bold>Employee Login Page</bold></h1>
        <hr />
        <br />
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.EmailId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />


        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <br />

        <div class="form-group">
            @*<div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Login" class="btn btn-default" />
                </div>*@
            <p><a href="https://asp.net" class="btn btn-primary btn-md">Login &raquo;</a></p>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />

    </div>
}

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
